flask/
*.pyc
dev
node_modules
app/database.db
app/build
yarn.lock
yarn-error.log
*.psd
.venv
env/
env__/
.vscode/symbols.json
*.db
*.db-journal

app/static/assets/node_modules
app/static/assets/yarn.lock
app/static/assets/.temp
